.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  margin-top: 40px;
}

.pagination__button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;
  padding: 0;

  color: #969DA8;
  background: transparent;
  border: none;
  border-radius: 8px;

  font-size: 14px;
  font-weight: 500;
}

.pagination__button--active {
  color: #ffffff;
  background: #2563eb;
}